<html>
    <head>
      <title>Marvel Message Board</title>



      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://bootswatch.com/superhero/bootstrap.min.css">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="shortcut icon" type="image/icon" href="/images/icon.png">
    </head>

    <body>

        <%= yield %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="/js/app.js?<%= rand(100000) %>"></script>
    </body>
</html>