<div style="height: 50px"> </div>

<div style="text-align: center"><img src="images/marvellogo.png" style="width: 200px; height: 130px"></div>

<h1 style="text-align: center">Message Board</h1>

<h3 style="text-align: center">Create New User</h3>

<form method="post" action="/user/create" style="text-align: center">
  <div class="form-group">
    <input class="center" name="username" placeholder="Username">
  </div>
  <div class="form-group">
    <input class="center" name="password" placeholder="Password">
  </div>
  <div class="form-group">
    <button type="submit" id="login" class="btn btn-primary">Create User</button>
  </div>
</form>

<div style="text-align: center"><a href="/signin"><button class="btn btn-primary">Have an account already? Log in</button></a></div>