<div style="height: 50px"> </div>

<div style="text-align: center"><img src="images/marvellogo.png" style="height: 130px; width: 200px"></div>

<h1 style="text-align: center">Message Board</h1>

<h3 style="text-align: center">Log in</h3>


<form method="post" action="/" style="text-align: center">
  <div class="form-group">
    <input class="center" name="name" placeholder="Username">
  </div>
  <div class="form-group">
    <input class="center" name="password" placeholder="Password" type="password">
  </div>
  <div class="form-group">
    <button type="submit" id="login" class="btn btn-primary">Log In to Marvel Message Board</button>
  </div>
</form>

<div style="text-align: center"><a href="/"><button class="btn btn-primary">Don't have an account? Sign up</button></a></div>